.profile-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.profilePic {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}
.profile-form {
  background-color: #fff;
  border-radius: 1.8rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.profile-form h4 {
  text-align: center;
}
.profile-form  button {
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: "Poppins";
  line-height: 150%;
  padding: 0.5rem 2rem;
  border-radius: 2.5rem;
  color: #fff;
  background: #df1463;
  margin-top: 2.5rem;
  cursor: pointer;
}

.profile-form  button:hover {
  background: none;
  color: #df1463;
  outline: 2px solid #df1463;
  font-weight: 600;
}