.image_main {
  place-items: center center;
  place-content: center center;
  height: 100vh;
  overflow: hidden;
}

.image_main .container {
  width: 60rem;
  height: 30rem;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 1.5625rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  position: relative;
}

.color {
  position: absolute;
  width: 30rem;
  height: 30rem;
  background: #fdeef4;
  border-top-left-radius: 1.5625rem;
  border-bottom-left-radius: 1.5625rem;
}

.image_main .heading_image {
  z-index: 9999;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  justify-items: center;
  align-items: center;
  background: #fdeef4;
  border-top-left-radius: 1.5625rem;
  border-bottom-left-radius: 1.5625rem;
  padding: 2rem 0;
  gap: 0rem;
}

.float input {
  display: none;
}

.image_main .heading_image .image-holder {
  position: relative;
}
.image_main .heading_image .uploadimg {
  width: 19rem;
  height: 19rem;
  margin-top: 1rem;
  border-radius: 50%;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.image_main .heading_image .float {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.image_main .heading_image .headtxt {
  z-index: 999;
}

.image_main .heading_image h1 {
  color: #df1463;
  text-align: center;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.image_main .heading_image h3 {
  color: #22172a;
  text-align: center;
  font-family: Segoe Print;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.image_main .form_image {
  flex-direction: column;
  padding: 2rem 0;
  gap: 0.9rem;
}

.image_main .form_image .inputs {
  grid-template-columns: repeat(3, 1fr);
  place-items: center center;
  height: 20rem;
  width: 100%;
  height: 17rem;
  padding: 2rem 1.5rem;
  gap: 0.5rem;
}

.image_main .form_image .inputs img {
  width: 7rem;
  cursor: pointer;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.image_main .form_image .inputs img:hover {
  transform: scale(1.1);
}

.image_main .form_image h2 {
  color: #df1463;
  text-align: center;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.image_main .form_image .progress {
  flex-direction: column;
  padding: 0 3rem;
  margin-top: 2rem;
  gap: 1rem;
}

.image_main .form_image .progress-status .left {
  margin-right: auto;
}
.image_main .form_image .progress-status .right {
  cursor: pointer;
}
